<%- include('../partials/header') %>

  <h1>Skills</h1>
  <ul>
    <% skills.forEach(function(s) { %>
      <li>
         <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      - 
        <%= s.quality ? 'Good' : 'Not so good' %>
      </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add a new skill</button>

  <%- include('../partials/footer') %>